################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuanLyKhachSan/.vs/QuanLyKhachSan
/QuanLyKhachSan/QuanLyKhachSan/bin/Debug
